<!-- <mat-card>
  <mat-form-field>
    <textarea matInput rows="6" [value]="newPost" #postInput ></textarea>
  </mat-form-field>
  <button mat-raised-button color="accent" (click)="Addpost(postInput)">Save Post</button>
</mat-card>
<span>{{ newPost }}</span> -->

<!-- <hr> -->

<mat-card>
  <mat-card-title>Add Post</mat-card-title>
  <mat-card-subtitle>Create new Post for user</mat-card-subtitle>
  <hr>
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="enterTitle" >
  </mat-form-field>
  <mat-form-field>
    <textarea matInput rows="6" [(ngModel)]="eteredContent"  ></textarea>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="Addpost1()">Save Post</button>
  <mat-card-actions align="end">
    <button mat-button color="warn">Like</button>
    <button mat-button color="warn">SHARE</button>
  </mat-card-actions>
</mat-card>


